@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('fonts/DigitalNumbers-Regular.woff') format('woff');
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background: url(img/DALL·E\ 2022-10-05\ 13.48.50.jpg) no-repeat;
    background-size: 100% 100%;
}

/* calculator style and sizing */
.calculator-container, #calculator{
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
}

.calculator-container{
    height: 97%;
    aspect-ratio: 0.63/1;
    
    border-radius: 10px;
    background-color: #85adad;
    box-shadow: -10px 7px 2px 5px RGB(145,92,54);
}
    
#calculator{
    height: 95%;
    aspect-ratio: 0.6/1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* display */
.display-container{
    width: 100%;
    height: calc(100% * (3/8));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(244, 255, 209);
    /* box-shadow: 0 0 1px 0 rgb(91, 91, 91); */
}

.display{
    width: 100%;
    font-size: 38px;
    text-align: center;
    font-family: 'Digital Numbers Regular';
    letter-spacing: -0.5rem;
    margin-left: -7px;
    transform: scaleY(1.2);
}


/* buttons styling */
button{
    all: unset;
    text-align: center;
    border-radius: 50%;
    /* border: 1px solid black; */
    box-shadow: 0 0 1px 0 white;
    /* font-weight: 600; */
    font-size: 20px;
    z-index: 5;
}

#clear{
    font-size: 18px;
}

#backspace{
    font-size: 36px;
    padding-bottom: 14px;
}

button:focus{
    box-shadow: 0 0 5px 2px rgb(245, 224, 154);
}

button, .display, .calculator{
    box-sizing: border-box;
}

.number, #dot{
    background-color: #666666;
    color: white;
} 

.operator, #plusminus, #percent{
    background-color: #b3b3b3;
} 

#clear, #backspace{
    background-color: #ffd633;
}

/* position and sizing of buttons */
.numbers-container, .mod-container{
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 1%;
}

.numbers-container{
    height: 49%;
    justify-content: center;
}

.number{
    width: calc(96% / 3);    
    height: calc(95% /4);
}

.mod-container, .operators-container{
    height: calc(98% *(5/8) );
}

.operators-container{
    display: flex;
    flex-direction: column;
    width: 24.5%;

    position: absolute;
    bottom: 0;
    right: 0;
    gap: 1%;
}

.operator{
    height: calc(96% / 5);
}

.mod-container{
    justify-content: space-between;
}

.mod{
    height: calc(96% / 5);
    width: calc(96% / 3);
}

.mod.bottom{
    margin-top: auto;
}


/* tooltip */
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 16px;
    position: absolute;
    bottom: 101%;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#clear .tooltiptext{
    left: 0;
    translate: -29%;
}

#backspace .tooltiptext{
    left: 0;
    translate: 17%;
}