html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#calculator{
    height: 95%;
    aspect-ratio: 0.5/1;
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    border: 1px solid black;
}

.display{
    width: 100%;
    height: calc(100% * (3/8));
}

button{
    all: unset;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: 800;

    z-index: 5;
}

button:focus{
    border: 2px solid blue;
}

button, .display, .calculator{
    box-sizing: border-box;
}

.numbers-container, .mod-container{
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    bottom: 0;
    left: 0;
}

.numbers-container{
    height: 50%;
    justify-content: center;
}

.number{
    width: calc(100% / 3);    
    height: calc(100% /4);
}


.mod-container, .operators-container{
    height: calc(100% * (5/8));

}


.operators-container{
    display: flex;
    flex-direction: column;
    width: 25%;

    position: absolute;
    bottom: 0;
    right: 0;
}

.operator{
    height: calc(100% / 5);
}


.mod-container{
    justify-content: space-between;
}

.mod{
    height: calc(100% / 5);
    width: calc(100% / 3);
}

.mod.bottom{
    margin-top: auto;
}